@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.animate-shiftDown {
  animation: shiftDown .6s linear;
}

@keyframes shiftDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}
