@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.animate-shiftDown {
  animation: shiftDown .6s linear;
}

@keyframes shiftDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



