#container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#root {
    background-color: white !important;
}

#popover {
    z-index: 1;
    width: 66vw;
    height: 50vh;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 10px;
    box-shadow: rgba(14, 13, 13, 0.5) 10px 10px, rgba(0, 0, 0, 0.4) 15px 15px, rgba(14, 13, 13, 0.3) 20px 20px;
    background-color: whitesmoke;
}

@media only screen and (max-width: 895px) {
    .manually {
        width: 50% !important;
    }
}

@media only screen and (max-width: 594px) {
    #popover {
        width: 90vw !important;
        flex-shrink: 10px;
        flex-direction: column;
    }
    .manually {
        /* width: 30% !important; */
    }
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#popover {
    border: 1px solid black;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

#popover_main_leftbar {
    width: 100%;
}

#boxcontainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.manually {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    width: 15vw;
    height: 25vh;
    box-shadow: 0px 5px 10px #1990FF;
    border: none;
    cursor: pointer;
}

@media (max-width: 850px) {
    #boxcontainer {
        flex-direction: column;
        align-items: center;
    }
    
    .manually {
        width: 70vw;
        height: auto;
        margin-bottom: 10px;
    }

    #popover {
        height: 77vh;
    }

    #headings {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #headings h2:nth-child(2) {
        order: 1;
        margin-top: 20px;
    }

    #boxcontainer .h2 {
        position: relative;
        right: 10px;
        font-weight: bolder;
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
    }
}

@media (max-width: 594px) {
    #headings {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #headings h2:nth-child(2) {
        order: 2;
        margin-top: 20px;
    }
    
    #boxcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .manually {
        width: 80vw;
        margin-bottom: 10px;
    }
}
