/* BEGIN: accordion styles */
.app-collapse {
    --padding: 15px;
    --radius: 10px;
    --border-color: #cdcdcd;
    --transition-time: 250ms;
    --title-font-size: 18px;
    --title-color: #111;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --background-color: #e9e9e9;
    --collapse-timing-function: cubic-bezier(0.83, 0.02, 0.81, 0.42);
    border-radius: var(--radius);
    filter: drop-shadow(0px 3px 2px var(--shadow-color));
  }
  
  .collapse-panel {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: all var(--transition-time) var(--collapse-timing-function);
    background-color: #eee;
    border: 1px solid var(--border-color);
    border-top: none;
    opacity: 0;
    margin-bottom: 10px;
    border-radius: 0 0 var(--radius) var(--radius);
    background-color: var(--background-color);
  }
  
  .collapse-header-button {
    display: block;
    width: 100%;
    text-align: left;
    padding-inline: var(--padding);
    padding-block: var(--padding);
    border: 1px solid var(--border-color);
    border-bottom-width: 0;
    border-radius: var(--radius) var(--radius) 0 0;
    transition: var(--transition-time);
    cursor: pointer;
    background-color: var(--background-color);
  }
  
  .collapse-header-button[aria-expanded="false"] {
    border-radius: var(--radius);
    border-bottom-width: 1px;
  }
  
  .collapse-title {
    font-size: 18px;
    font-weight: 500;
    color: var(--title-color);
    font-size: var(--title-font-size);
  }
  
  .collapse-icon {
    position: absolute;
    width: 14px;
    right: 20px;
    top: 21px;
    transform-origin: center;
    transition: var(--transition-time);
  }
  
  .collapse-header-button[aria-expanded="false"] .icon-path-line {
    d: path('M4 4L78 76.5L152 4');
  }
  
  .icon-path-line {
    d: path('M4 78 78 7l74 71');
    stroke: var(--title-color);
    stroke-linecap: round;
    stroke-width: 8px;
    transition: var(--transition-time);
  }
  
  .collapse-panel-inner-wrapper {
    padding-inline: var(--padding);
    overflow: hidden;
  }
  
  .collapse-panel.app-collapse-expanded {
    grid-template-rows: 1fr;
    opacity: 1;
    padding-bottom: var(--padding);
  }
  /* END: accordion styles */
  